body {
    margin: 0;
    background-color: #fdb2c986;
  }

  /* Navigation bar */
  
  .navbar {
    background-color: #29C9DD;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5px 20px;
    z-index: 1;
  }
  
  .logo img {
    height: 60px;
  }
  
  .menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .menu li {
    display: inline-flex;
    margin-left: 10px;
  }
  
  .menu li a {
    color: white;
    text-decoration: none;
    font-family: 'Indie Flower', cursive;
    font-size: 36px;
    padding: 20px;
  }

  .menu li a:hover {
    background-color: #FDB2C9;
  }

  /* Cover picture */
  
  .cover {
    background-image: url('/images/thumbnail.png');
    background-size: cover;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* section with the description of dream */

  .dream {
    height:fit-content;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.763);
  }

  .img-dream {
    display: block;
    margin: 0 auto;
    width: 20%;
    height: 150px;
    padding: 20px;
  }

  .dream-description {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 28px;
    padding-right: 100px;
    padding-left: 100px;
  }

  /* hero cards in homepage */
  
  .hero-cards {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  .hero-card {
    width: 300px;
    height: fit-content;
    padding: 20px;
    background-color: #f5f5f5;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0 30px; 
  }
  
  .hero-image {
    position: relative;
  }
  
  .hero-image img {
    width: 100%;
    height: auto;
  }
  
  .overlay-text {
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    color: white;
  }

  .overlay-text h3 {
    margin: 0;
  }
  
  .hero-content {
    padding: 20px 0;
  }
  
  .hero-content h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .hero-content p {
    font-size: 16px;
    color: #666666;
  }
  
  .hero-content button {
    background-color: #29C9DD;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  .hero-card a {
    text-decoration: none;
    color: white;
  }

/* get ready for nonstop fun section */

  .des-line {
    height: 250px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.763);
    margin-bottom: 50px;
   }

   .des-line h1 {
    padding-left: 40px;
    padding-top: 20px;
    font-family: 'Indie Flower', cursive;
    font-size: 30px;
   }

   .des-line p {
    padding-left: 40px;
    padding-right: 40px;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
   }

  /* footer for all pages */
  
    .footer{
    background: #FDB542;
    padding:8px 0px;
    font-family: 'Play', sans-serif;
    text-align:center;
    }
    
    .footer .row{
    width:100%;
    margin:1% 0%;
    padding:0.2% 0%;
    color:rgb(255, 255, 255);
    font-size:0.9em;
    }
    
    .footer .row a{
    text-decoration:none;
    color:rgb(255, 255, 255);
    transition:0.5s;
    }
    
    .footer .row a:hover{
    color:#fff;
    }
    
    .footer .row ul{
    width:100%;
    }
    
    .footer .row ul li{
    display:inline-block;
    margin:0px 30px;
    }
    
    .footer .row a i{
    font-size:2em;
    margin:0% 1%;
    }
    
    @media (max-width:720px){
    .footer{
    text-align:left;
    padding:3%;
    }
    .footer .row ul li{
    display:block;
    margin:10px 0px;
    text-align:left;
    }
    .footer .row a i{
    margin:0% 3%;
    }
    }

    /* the orange banner in all child pages */

   .banner {
    background-color: #FDB542;
    height: 180px;
    width: 100%;
   }

   .banner h2 {
    font-family: 'Luckiest Guy', cursive;
    font-size: 58px;
    color: white;
    text-align: center;
    padding-top: 90px;
   }

   /* the about us page */

   .about-us {
    background-color: rgba(255, 255, 255, 0.763);
    padding: 60px;
    margin: 200px;
    margin-top: 100px;
   }

   .about-us h2 {
    font-family: 'Indie Flower', cursive;
    font-size: 36px;
   }

   .about-us p {
    font-family: 'Raleway', sans-serif;
   }

   .about-us li {
    font-family: 'Raleway', sans-serif;
   }

   /* event page */

   .even-card {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  .event-card {
    width: 70%;
    height: 400px;
    padding: 20px;
    background-color: #f5f5f5;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px; 
    margin-bottom: 30px;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
  }

  .card-image img{ 
    width: 600px;
    height: 360px;
    margin: 20px;
    float: right;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s
  }

  .card-image:hover img {
    transform: scale(1.1);
  }

  .event-card button {
    background-color: #29C9DD;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 20px;
  }
  .event-card a {
    text-decoration: none;
    color: white;
  }

  .card-text {
    position: relative;
    float: left;
    padding: 20px;
    width: 450px;
  }

  /* contacts page */

  .container {
    max-width: 60%;
    margin: 50px auto;
    padding: 100px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  label {
    display: block;
    margin-bottom: 10px;
    font-family: 'Raleway', sans-serif;
  }

  input[type="text"],
  textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    font-family: 'Source Sans Pro', sans-serif;
  }

  input[type="email"],
  textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    font-family: 'Source Sans Pro', sans-serif;
  }

  input[type="submit"] {
    background-color: #29C9DD;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 4px;
  }

  .container h2 {
    font-family: 'Raleway', sans-serif;
  }

  button:hover {
    background-color: #FDB2C9;
  }

  /* pic and video in the home page */

  .flex-contanier {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: auto;
   
  }

  .movie {
    margin: 40px;
    width: 300px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .movie img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s;
  }

  .movie:hover img {
    transform: scale(1.1);
  }

  .movie .trailer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
  }

  .movie:hover .trailer {
    display: block;
  }

  

 
  
